---
layout: page
title: About
permalink: /about/
description: Missy is a nationally certified and state licensed Occupational Therapist, Certified Driving Rehab Specialist, and Driving Instructor..
---

<div class="container">
  
  <div class="row">
    <div class="col-md-12">
      {% include breadcrumbs.html %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1 class="double-u-2">About Melissa "Missy" Bell</h1>
    </div>
  </div>
  <div id="team">
    <div class="row">
      <div class="col-md-6">
        <!--    <div class="col-md-6 history">-->
        <p>Missy is a nationally certified and state licensed Occupational Therapist, Certified Driving Rehab Specialist, and Driving Instructor.</p>
        <p>With over 25 years of experience working with diverse populations across the lifespan, most of her focus has been on supporting and empowering persons/families dealing with invisible differences. Her primary goal is helping those who are underserved by healthcare and educational system limitations.</p>
        <p>Missy's OT Driving Rehabilitation experience began in 2001 at North Kansas City Hospital. There she completed clinical evaluation and potential to drive assessments with adults due to age-related or disability factors including Diabetes, Stroke, Dementia, Alzheimer’s, Brain Injury, Amputation, and Orthopedic challenges.</p>
        <p>In 2002, Missy began pediatric practice emphasis. She opened a specialty pediatric OT clinic with educational support services in 2013. At that time, she created a driving readiness therapy program for teens. </p>
      </div>

      <div class="col-md-6">
        <h6> </h6>
        <p>She quickly expanded service scope to include young drivers. Due to a shortage of driving rehab specialists, Missy recognized the need to serve more adults. She began additional training and mentorship in the field related to current standards and practices in driver rehabilitation.
        </p>
        <p>Missy has trained Region XIII OTs in their role with teen driving safety. She has written a safe driving blog for DriveItHome.org and was invited to speak at the National Transportation and Highway Safety Conference of 2017. She is an ADED member, AOTA listed driving rehab provider, and Carfit OT technician. While advancing hours for DRS certification, Missy has mentors across the country that she regularly collaborates with, including local area specialists.</p>
        <p>Missy is AOTA educated in the highest level of Community Mobility and Driving with adults and adolescents. Missy has completed advanced OT/DRS training by Adaptive Mobility Services, the professional training called "Behind the Wheel with ADHD", and promotes safe driving across the field through various volunteer roles.</p>

      </div>
    </div>
    <hr>

    <div class="team-container">
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
      <div class="row align-items-center justify-content-center">
        <a target="_blank" href="{{site.author.linkedin}}">
          <div class="col individual">
            <img width="350" height="350" class="rounded-circle img-fluid" src="/images/author-image.png" alt="">
            <h4 class="name">{{site.title}}</h4>
            <p class="position"><small>{{site.title-creds}}</small></p>
            <!--            <p class="position"><small>Founder / Owner</small></p>-->
            <ul class="team-social">
              {% if site.author.linkedin %}
              <li><a target="_blank" href="{{site.author.linkedin}}"><i class="fab fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
              {% endif %}
              <!--
              {% if site.author.facebook %}
              <li><a target="_blank" href="{{site.author.facebook}}"><i class="fas fa-facebook-official" aria-hidden="true"></i></a></li>
              {% endif %}
          -->

              <!--					<li><a href=""><i class="fa fa-twitter-square fa"></i></a></li>-->
              <!--
                    <li><a href="https://www.facebook.com/missybell.atx"><i class="fa fa-facebook-official fa"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/melissabellatx/"><i class="fa fa-linkedin-square fa"></i></a></li>
          -->

            </ul>
            </img>
          </div>
        </a>

      </div>
    </div>
  </div>
</div>
